@if ( selectedCanton !== null && selectedCanton !== undefined ) {
  <div class="beer-list-container">
    <!-- <h1 class="canton-title"><img class="flag" src="{{ selectedCanton.flag }}" alt="{{selectedCanton.name}}"> Beers from {{ selectedCanton.name }}</h1>-->
    @if (beers(); as beersList) {
      @if (beersList.length > 0) {
          @for (beer of beersList; track beer.name) {
            <div class="beerItem">
              <div class="imageContainer">
                @if (beer.imageUrl !== null && beer.imageUrl !== undefined) {
                  <img class="beerImage" [src]="beer.imageUrl" alt="{{ beer.name }}">
                }
              </div>
              <div>
                <h3>{{ beer.name }} - {{ beer.brewery }}</h3>
              </div>
            </div>
          }
      } @else {
        <p>No beers found for this canton.</p>
      }
    } @else {
      <p>Please select a canton to view its beers.</p>
    }
  </div>
}
